<main class="main home single" id="main">
  <div class="main-inner">
    {{ $pages := where .Site.RegularPages "Section" "in"
    .Site.Params.mainSections }} {{ if .Site.Params.enableHideInHomepage }} {{
    $pages = where $pages ".Params.hideInHomepage" "ne" true }} {{ end }}
    
    {{ $paginator := .Paginate $pages }} 
    
    {{ range first 1 $paginator.Pages }}
    <article class="content post home home-1 h-entry">
      <a href="{{ .RelPermalink }}">
      {{ with .Params.img }} {{- $img
        := . -}}
        <div class="post-cover">
        <img loading="lazy" src="{{$img}}" alt="" class="avatar" />
        {{ end }}</div>
      
      <div class="home-post-content">
      <h1 class="post-title p-name">
        {{ (partial "utils/title.html" (dict "$" . "title"
          .LinkTitle)).htmlTitle }}
      </h1>
    <div class="post-meta">
      <time class="post-time">{{ .Page.Params.Date | time.Format $.Site.Params.postMetaDateFormat}}</time>
      <span class="post-categories">{{ range .Params.categories }}{{ . }}&nbsp;{{ end }}</span>
      {{ range .Params.tags }}<span class="post-tags">#{{ . }}&nbsp</span>{{ end }}
    </div>
      <summary class="summary p-summary">
        {{ partial "utils/summary.html" . }}
      </summary>

    </div>
  </a>
    </article>
    {{ end }} 
    
    <div class="recent-post">
      
    {{ range first 4 (after 1 $paginator.Pages) }}
    <article class="content post home home-2 h-entry">
      <a href="{{ .RelPermalink }}">
      {{ with .Params.img }} {{- $img
        := . -}}
        <div class="post-cover">
        <img loading="lazy" src="{{$img}}" class="avatar" />
        {{ end }}</div>
      
      <div class="home-post-content">
      <h1 class="post-title p-name">
        {{ (partial "utils/title.html" (dict "$" . "title"
          .LinkTitle)).htmlTitle }}
      </h1>
    <div class="post-meta">
      <time class="post-time">{{ .Page.Params.Date | time.Format $.Site.Params.postMetaDateFormat}}</time>
      <span class="post-categories">{{ range .Params.categories }}{{ . }}&nbsp;{{ end }}</span>
      {{ range .Params.tags }}<span class="post-tags">#{{ . }}&nbsp</span>{{ end }}
    </div>
      <summary class="summary p-summary">
        {{ partial "utils/summary.html" . }}
      </summary>

    </div>
  </a>
    </article>
    {{ end }} 
  </div>

  <div class="homemore"><a href="/archive/">MORE</a></div>

  <h1><a href="categories/photo/">Recent Photos</a></h1>
  <div class="plog post recent-photos">
    {{ $all_images := slice }}
    {{ range .Site.Pages }}
        {{ $all_images = $all_images | append (.Page.Resources.ByType "image") }}
    {{ end }}
    {{ range first 4 (sort $all_images ".Name" "desc") }}
    <div class="plog-wrapper">
      <img
        loading="lazy"
        decoding="async"
        src="{{ (.Resize "600x webp").Permalink }}"
      />
    </div>
    {{ end }}
  </div>
  

   
  </div>
</main>
