/* 隐藏菜单栏图标 */
.menu-item svg,
.footer-icon {
  display: none;
}
/* 标题hover样式 */
.post-title a {
  position: relative;
}

.post-title a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  background: var(--color-primary);
  transition: all 0.3s ease-in-out;
  transform: scale3d(0, 1, 1);
  transform-origin: 50% 0;
}

.post-title a:hover::after {
  transform: scale3d(1, 1, 1);
}

/* toc */
.contents-title:hover{
  cursor: pointer;
}
h2#contents{
  display: inline;
}
.contents{
  margin: 1.618em 0 1em;
}

summary.toc{
  margin-bottom: 1em;
}

:focus-visible {
  outline: none;
}

summary.toc:focus{
  outline: none;
}


