/* 隐藏菜单栏图标 */
.menu-item svg,
.footer-icon {
  display: none;
}
/* 标题hover样式 */
.post-title a {
  position: relative;
}

.post-title a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  background: var(--color-primary);
  transition: all 0.3s ease-in-out;
  transform: scale3d(0, 1, 1);
  transform-origin: 50% 0;
}

.post-title a:hover::after {
  transform: scale3d(1, 1, 1);
}

/* 评论黑暗模式 */
.v[data-class="v"] .vpanel {
  background: var(--color-bg);
  border: var(--color-contrast-high);
}
.v[data-class="v"] .vheader label,
.v[data-class="v"] .vaction,
.v[data-class="v"] .vempty,
.v[data-class="v"] .vbtn {
  color: var(--color-contrast-high);
}
.v[data-class="v"] .vbtn.primary,
.v[data-class="v"] .vaction:hover {
  background: var(--color-primary);
}

.v[data-class="v"] .vbtn.primary:hover,
.v[data-class="v"] .vbtn.primary:active,
.v[data-class="v"] .vbtn:hover,
.v[data-class="v"] .vbtn:active {
  background: var(--color-primary);
  opacity: 0.8;
}