{{ define "main" }}
<main class="main list" id="main">
  <div class="main-inner">
    <h1 class="list-title">{{ .Title | default (.Type | title) }}</h1>
    
    <div class="post">
      <img src="https://i.imgur.com/KqfjVcJ.png" alt="" />
    </div>

    <div class="content categories">
      <div><h2>分类</h2></div>
      <div class="tree">
        {{ .Scratch.Delete "categories" }} {{ range $.Site.RegularPages }} {{
        with .Param "categories" }} {{ $.Scratch.Delete "category" }} {{ range
        $index, $category := . }} {{ $category := (printf `/%s` ($category |
        urlize)) }} {{ $.Scratch.Add "category" $category }} {{ $.Scratch.Add
        "categories" (slice ($.Scratch.Get "category")) }} {{ end }} {{ end }}
        {{ end }} {{ $categories := uniq (.Scratch.Get "categories") | sort }}

        <ul class="list-categories">
          {{ range $index, $value := $categories }} {{ $categoryTerms := (split
          (strings.TrimPrefix "/" .) "/") }} {{ $depth := (len $categoryTerms)
          }} {{ $lastTerm := (delimit (last 1 $categoryTerms) " ") }} {{ $url :=
          urls.Parse $lastTerm }} {{ $path := $url.Path }} {{ with
          $.Site.GetPage (printf `/categories/%s` $path) }} {{ $linkTarget := .
          }} {{ $depthPrev := 0 }} {{ if ge $index 1 }} {{ $categoryPrev :=
          index $categories (sub $index 1) }} {{ $depthPrev = len (split
          (strings.TrimPrefix "/" $categoryPrev) "/") }} {{ end }} {{ $depthNext
          := 0 }} {{ if lt $index (sub (len $categories) 1) }} {{ $categoryNext
          := index $categories (add $index 1) }} {{ $depthNext = len (split
          (strings.TrimPrefix "/" $categoryNext) "/") }} {{ end }} {{ if or (le
          $depth $depthPrev) (eq $index 0) }}
          <li>
            {{ end }} {{ if and (gt $depth $depthPrev) (ne $index 0) }}
            <ul class="list-categories">
              <li>
                {{ end }}

                <a href="{{ .RelPermalink }}" class="category-item"
                  >{{ .LinkTitle | default .Data.Term | default $path }}</a
                >
                {{ if $.Site.Params.displayPostsCount }}
                <span class="category-count"
                  >{{ printf "(%d)" (len .Data.category) }}</span
                >
                {{ end }} {{ if $.Site.Params.displayPosts }} {{
                $.Scratch.Delete "pages" }} {{ range $.Site.RegularPages }} {{
                $page := . }} {{ with .Param "categories" }} {{ $.Scratch.Delete
                "category" }} {{ range . }} {{ $category := (printf `/%s` (. |
                urlize)) }} {{ $.Scratch.Add "category" $category }} {{ end }}
                {{ $category := $.Scratch.Get "category" }} {{ if eq $value
                $category }} {{ $.Scratch.Add "pages" (slice $page) }} {{ end }}
                {{ end }} {{ end }} {{ $pages := $.Scratch.Get "pages" }} {{
                partial "utils/limit-tree-posts.html" (dict "$" $ "pages" $pages
                "linkTarget" $linkTarget) }} {{ end }} {{ if and (gt $depth
                $depthNext) (ne $index (sub (len $categories) 1)) }} {{ range
                seq (sub $depth $depthNext) }} {{ if le . (sub $depth
                $depthNext) }}
              </li>
            </ul>
            {{ end }} {{ end }} {{ end }} {{ if ge $depth $depthNext }}
          </li>
          {{ end }} {{ end }} {{ end }}
        </ul>
      </div>
    </div>

    

    <div class="content list-group">
      {{ $pages := (where .Site.Pages "Kind" "page" ) }} {{ range
      $pages.GroupByDate "2006" }} {{ $.Scratch.Delete "zodiacName" }} {{ if
      $.Site.Params.chineseZodiac }} {{ $zodiacName := (index
      $.Site.Data.ChineseZodiac (string (mod .Key 12))) }} {{ $.Scratch.Set
      "zodiacName" $zodiacName }} {{ end }} {{ $zodiacName := $.Scratch.Get
      "zodiacName" }} {{ $.Scratch.Delete "year" }} {{ if $.Site.Params.i18nYear
      }} {{ $key := .Key }} {{ $.Scratch.Delete "num" }} {{ range (slice 1 2 3
      4) }} {{ $.Scratch.Add "num" (slice (substr $key (sub . 1) 1)) }} {{ end
      }} {{ $num := $.Scratch.Get "num" }} {{ $.Scratch.Delete "i18nNum" }} {{
      range $num }} {{ $.Scratch.Add "i18nNum" (i18n .) }} {{ end }} {{ $i18nNum
      := $.Scratch.Get "i18nNum" }} {{ $.Scratch.Set "year" $i18nNum }} {{ else
      }} {{ $.Scratch.Set "year" .Key }} {{ end }} {{ $year := $.Scratch.Get
      "year" }}
      <h2 class="list-year">
        {{ $year }}{{ if $.Site.Params.chineseZodiac }}{{ partial
        "utils/icon.html" (dict "$" $ "name" $zodiacName "class"
        "chinese-zodiac") }}{{ end }}
      </h2>
      {{ if $.Site.Params.groupByMonth }} {{ range .Pages.GroupByDate "January"
      }} {{ $.Scratch.Delete "month" }} {{ if $.Site.Params.i18nMonth }} {{
      $month := i18n (lower .Key) }} {{ $.Scratch.Set "month" $month }} {{ else
      }} {{ $.Scratch.Set "month" .Key }} {{ end }} {{ $month := $.Scratch.Get
      "month" }}
      <h3 class="list-month">{{ $month }}</h3>
      {{ partial "utils/list-item.html" (dict "$" .) }} {{ end }} {{ else }} {{
      partial "utils/list-item.html" (dict "$" .) }} {{ end }} {{ end }}
    </div>
  </div>
</main>
{{ end }}
