.list .main-inner {
    width: $listWidth;
}

.list-title {
    text-align: center;
}

.list {
    ul {
        list-style: none;
        padding: 0;
    }
}

@if ($listDatePosition == "right") {
    .list-item-title {
        flex: 1;
    }
    .list-item-time {
        text-align: right;
        margin-left: 1em;
    }
}
@if ($listDatePosition == "left") {
    .list-item {
        flex-direction: row-reverse;
    }
    .list-item-time {
        flex: 1;
    }
    .list-item-title {
        text-align: right;
        margin-left: 1em;
    }
}

.list-item {
    line-height: 2;
    position: relative;
    transition: border $duration;
    padding-bottom: 0.5em;
    display: block;
    align-items: baseline;
    border-bottom: dashed 1px var(--color-contrast-low);
    margin-bottom: 1rem;
    a:hover {
        border-bottom-color: var(--color-primary);
        ::before {
            background: var(--color-primary);
        }
    }
    
}
.list-item-title {
    margin: 0 0.618em;
    font-size: 1em;
    line-height: 1.5;
}
.list-item-time {
    margin: 0 1.5em;
    color: var(--color-contrast-medium);
    line-height: 1.5;
    font-size: 10px;
    display: flex;
}
.list-read-more {
    margin-top: 1em;
    font-size: 1.2em;
    line-height: 1.5;
}

.list-year {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.term-count {
    color: var(--color-contrast-medium);
    font-size: 0.7em;
}
