<div class="article-details">
    
    <header class="details-header">
        {{ if .Params.categories }}
        {{ range (.GetTerms "categories") }}
        <span class="article-categories">
            {{ partial "helper/icon" "archives"}}
            <a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                {{ .LinkTitle }}
            </a>
        </span>
        {{ end }}

        {{ if not .Date.IsZero }}
            <span class="article-time">
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published">
                    {{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
                </time>
            </span>
        {{ end }}

        {{ if .Site.Params.article.readingTime }}
            <span class="article-time">
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--reading">
                    {{ T "article.readingTime" .ReadingTime }}
                </time>
            </span>
        {{ end }}

    </header>
    {{ end }}

    <h1 class="article-title">
        <a href="{{ .RelPermalink }}">
            {{- .Title -}}
        </a>
    </h1>
    {{ with .Params.description }}
    <p class="article-subtitle">
        {{ . }}
    </p>
    {{ end }}
    
</div>