.post-tags {
    margin-top: 1rem;
    font-size: 80%;
    text-align: center;
}

.post-tags-link {
    color: var(--color-contrast-high);
    line-height: 2;
    display: inline-block;
    margin-right: 0.5em;
    &:hover{
        color: var(--color-primary);
    }
    &::before{
        content: "#";
        color: var(--color-primary);
    }
}

.tag-icon {
    margin-right: 0.3em;
    font-size: 80%;
}